.App {
  display: flex;
 
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;



  padding: 90px;
}

.user-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.user-card {
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: 444px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}